@use "../abstracts" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  justify-content: center;

  @include mq(medium) {
    &[data-column-count="0"] {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    @for $i from 1 through 6 {
      &[data-column-count="#{$i}"] {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }
}
